[data-theme="light"] {
  --global-scrollbar-color: black;
  --global-scrollbar-bg-color: transparent;
  --global-emphasis-color: #333;
  --global-color: #333333;
  --icon-link-active-color: darken(#666, 5%);
  --active-menu: #666666;
}
