[data-theme="light"] {
  --global-scrollbar-color: hsla(0,0%,100%,.2);
  --global-scrollbar-bg-color: transparent;
  --global-emphasis-color: #333;
  --global-color: #666;
  --icon-link-active-color: darken(#666, 5%);
}
