.scrollable {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-color $scrollbar-bg-color;
}

.scrollable * {
  /* don't allow the children of the scrollable element to be selected as an anchor node */
  overflow-anchor: none;
}

.scrollable::-webkit-scrollbar {
  width: 5px;
  background: $scrollbar-bg-color;
}

.scrollable::-webkit-scrollbar-thumb {
  background: $scrollbar-color;
}

#anchor {
  /* allow the final child to be selected as an anchor node */
  overflow-anchor: auto;

  /* anchor nodes are required to have non-zero area */
  height: 1px;
}

.non-scrollable-container {
  overflow: hidden;
}


.auto-scrollable-container {
  overflow: auto;
}

.uk-badge.red {
  background: #f0506e;
}

.h-100 {
  height: 100% !important;
}

.menu {
  width: 20rem;
  padding: 1.5rem;
}

blockquote {
  margin: 0 0 10px 0 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  border-left: 4px solid #ddd !important;
  padding-left: 2px !important;
  font-style: italic !important;
  color: var(--global-emphasis-color) !important;
}

displayname {
  font-weight: bold !important;
}

.uk-active, .uk-nav-default > li > a:hover, .uk-nav-default > li > a:focus, .uk-nav-header, h1 {
  font-weight: bold !important;
}

em {
  color: black !important;
}

.uk-nav-default > li > a {
  color: $active-menu !important;
}

.error {
  color: #992E2E;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  font-feature-settings: 'ordn' on;
  margin: 0;
}

.roomlist {
  min-width: 260px;
}

.uk-search, .uk-inline {
  position: relative;
}

.uk-search input, .uk-inline input {
  text-indent: 30px;
}

.uk-search > #ma-icon, .uk-inline > #ma-icon {
  position: absolute;
  top: 12px;
  left: 13px;
  font-size: 18px;
}

ul {
  list-style: none;
}

ul > li > a:hover {
  text-decoration: none !important;
}

ul > li > a {
  padding: 5px 0;
}

.uk-nav-header {
  padding: 5px 0;
  text-transform: uppercase;
  font-size: .875rem;
}

ul > li > a {
  display: block;
  text-decoration: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}


@import "sun-loading-animation.scss";
@import "lightbox.scss";
@import "fonts.scss";

.daydream-title {
  font-family: 'Dancing Script', cursive;
  position: relative;
  margin-left: calc(50% - 381px / 2 - 0.5px);
  margin-top: 48px;

  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 115px;
  display: flex;
  align-items: center;
  text-align: center;

  /* Daydrean Red */

  color: #B80B0B;
  /* 6dp — Elevation */

  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 18px rgba(0, 0, 0, 0.12), 0 6px 10px rgba(0, 0, 0, 0.14);
}

.login-page-bg {
  transform: scale(1.03);
  position: absolute;
  top: calc(50% - 100vh / 2);
  left: calc(50% - 100vw / 2);
  width: 100vw;
  height: 100vh;

  background: url(images/login_bg.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(5px);
}

/* Safari 7.1+ */

_::-webkit-full-page-media, _:future, :root .login-page-bg {
  background: url(images/login_bg.jpg) no-repeat center center fixed;
}

.login-bg {
  position: relative;
  width: 481px;
  margin-left: calc(50% - 481px / 2 + 0.5px);
  margin-top: 48px;
  height: calc(100% - 48px);
  box-sizing: border-box;

  /* 4dp — Elevation */
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 25px;

  padding: 48px 56px 48px 56px;
}

.login-bg::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #1A1A1A;
  opacity: 0.5;
  mix-blend-mode: multiply;
  border-radius: 25px;
}

.login-content {
  position: relative;
}

.login-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  font-feature-settings: 'ordn' on;

  color: #FFFFFF;

  /* 6dp — Elevation */

  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 18px rgba(0, 0, 0, 0.12), 0 6px 10px rgba(0, 0, 0, 0.14);
}

.login-button {
  border: none;
  width: 100%;
  height: 61px;
  margin-top: 56px;

  background: #6E992E;
  /* 4dp — Elevation */

  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
  transition: all 0.3s ease 0s;
  border-radius: 45px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.15px;

  /* Background */

  color: #FFFFFF;
}

.login-button:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-7px);
}

.login-input-first > input.login-input {
  margin-top: 0 !important;
}

.login-input-first > .login-icons {
  bottom: calc(50% - 6px * 2);
}

input.login-input {
  //height: 48px;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 15px 15px 0 0;
  border: none;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;

  border-bottom: 2px solid #FFFFFF;
  box-sizing: border-box;
  margin-top: 48px;

  /* Subtitle 1 / Roboto Regular */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* Gray 4 */

  color: #BDBDBD;
}

input:placeholder-shown {
  border: none;
  border-bottom: 2px solid #FFFFFF;
}

input.login-input:invalid {
  border-bottom: 2px solid #992E2E;
}

.login-icons {
  font-size: 24px !important;
  color: white;
  position: absolute;
  bottom: calc(50% - 19px * 2);
  left: 16px;
}

.login-inline {
  position: relative;
}

.login-inline > input {
  padding-left: 64px;
}

html {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.room-title {
  margin-bottom: 1.5rem;

  box-shadow: 0 1px 10px -10px rgba(0, 0, 0, 0.2), 0 4px 5px -5px rgba(0, 0, 0, 0.12), 0 2px 4px -4px rgba(0, 0, 0, 0.14);
}
