.scrollable {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  height: 100% !important;
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-color $scrollbar-bg-color;
}

.scrollable * {
  /* don't allow the children of the scrollable element to be selected as an anchor node */
  overflow-anchor: none;
}

#anchor {
  /* allow the final child to be selected as an anchor node */
  overflow-anchor: auto;

  /* anchor nodes are required to have non-zero area */
  height: 1px;
}

.scrollable::-webkit-scrollbar {
  width: 5px;
  background: $scrollbar-bg-color;
}

.scrollable::-webkit-scrollbar-thumb {
  background: $scrollbar-color;
}

.non-scrollable-container {
  overflow: hidden;
}


.auto-scrollable-container {
  overflow: auto;
}

.uk-badge.red {
  background: #f0506e;
}

.h-100 {
  height: 100% !important;
}

html {
  overflow: hidden !important;
  height: 100% !important;
}

body {
  overflow: hidden !important;
  height: 100% !important;
}

.menu {
  width: 20rem;
  padding: 1.5rem;
}

blockquote {
  margin: 0 0 10px 0 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  border-left: 4px solid #ddd !important;
  padding-left: 2px !important;
  font-style: italic !important;
  color: var(--global-emphasis-color) !important;
}

displayname {
  font-weight: bold !important;
}

.uk-active, .uk-nav-default > li > a:hover, .uk-nav-default > li > a:focus, .uk-nav-header, h1 {
  font-weight: bold !important;
}

em {
  color: black !important;
}

.uk-nav-default > li > a {
  color: $active-menu !important;
}

.error {
  color: red;
}

.roomlist {
  min-width: 260px;
}

.uk-search, .uk-inline {
  position: relative;
}

.uk-search input, .uk-inline input {
  text-indent: 30px;
}

.uk-search #ma-icon, .uk-inline #ma-icon {
  position: absolute;
  top: 14px;
  left: 13px;
  font-size: 18px;
}

ul {
  list-style: none;
}

ul > li > a:hover {
  text-decoration: none !important;
}

ul > li > a {
  padding: 5px 0;
}

.uk-nav-header {
  padding: 5px 0;
  text-transform: uppercase;
  font-size: .875rem;
}

ul > li > a {
  display: block;
  text-decoration: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}


@import "sun-loading-animation.scss";
@import "lightbox.scss";
