@import "theme_slider.scss";

[data-theme="dark"] {
  @import "dark_theme/variables";

  [data-theme] {
    background-color: var(--global-background);
    color: white;
  }

  @at-root {
    @import "./custom-css.scss";
  }
  @at-root {
    @import "../node_modules/uikit/src/scss/mixins-theme.scss";
    @import "../node_modules/uikit/src/scss/uikit-theme.scss";
  }
}

[data-theme="light"] {
  @import "light_theme/variables";

  [data-theme] {
    background-color: var(--global-background);
    color: black;
  }

  @at-root {
    @import "custom-css.scss";
  }
  @at-root {
    @import "../node_modules/uikit/src/scss/mixins-theme.scss";
    @import "../node_modules/uikit/src/scss/uikit-theme.scss";
  }
}

