$c: #f4c042;
$t: 5s;

svg {
  width: 400px; height: 300px;
}

svg * {
  stroke: $c;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

[id='line'] { stroke-width: 3; }

svg text {
  font: .875em century gothic, verdana, sans-serif;
}

[id='mover'] {
  animation: sun-motion $t cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

[id='main'] {
  fill: transparent;
  stroke-width: 7;
}

[id='eyes'] {
  animation: eye-motion $t ease-out infinite;

  circle { fill: $c; }
}

[id='ray'] {
  stroke-width: 4;
}

[id='rays'] {
  animation: rot $t linear infinite;
}

@keyframes rot {
  to { transform: rotate(.25turn); }
}

@keyframes eye-motion {
  0%, 20%, 49%, 100% { transform: translate(-13px); }
  21%, 25%, 29%, 47% { transform: translate(13px) scaleY(1); }
  27% { transform: translate(13px) scaleY(0); }
  48% { transform: translate(0); }
}

@keyframes sun-motion {
  0%, 99%, 100% { transform: translateY(-16px); }
  50% { transform: translateY(-29px); }
  52%, 98% { transform: translate(4px) scaleY(1.25); }
  53%, 97% { transform: translateY(23px); }
}
