[data-theme="dark"] {
  --global-background: #1c1c21;
  --global-scrollbar-color: hsla(0,0%,100%,.2);
  --global-scrollbar-bg-color: transparent;
  --global-emphasis-color: #fff;
  --global-color: #fff;
  --icon-link-active-color: darken(#fff, 5%);
}
